<%= javascript_include_tag "application" %>

<div class="container emp-profile">
<h3>
  Your have <%= @total_device %> devices
</h3>

<!-- check with mentor -->

<table class="table table-list-search table-striped table-bordered" id="myTable">
  <thead>
    <tr>
      <th>ID</th>
      <th>Device</th>
      <th>Setting</th>
      <th>Action</th>
    </tr>
  </thead>

  <tbody>
    <% @devices.each do |t| %>
      <tr>
        <td><%= t.id %></td>
        <td><%= t.name %></td>
        <td>
          <%= link_to 'Add Task', user_tasks_path %>
        </td>
        <td>
          <img src="/assets/power-btn-grey.png" id="img-light" alt="light" onclick="toggleLight(this)" width="150px">
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Back', root_path %>
<%= link_to 'Add Task', user_tasks_path %>
</div>
