<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Welcome <%= @full_name %></h1>
    <p class="lead">Home Automation System</p>
  </div>
</div>
<div class="button-group-1">

      <%= link_to user_devices_path(current_user.id), class:"btn btn-primary" do %>
        <br><i class="fas fa-book fa-8x"></i><br> Your Devices
      <% end %>

      <%= link_to show_graph_path, class:"btn btn-primary add" do %>
      <i class="far fa-file fa-8x"></i><br>Energy Consumption Report
      <% end %>

      <%= link_to user_tasks_path(current_user.id), class:"btn btn-primary" do %>
        <br><i class="fas fa-book fa-8x"></i><br> My Tasks
      <% end %>

</div>



<div class="button-group-2">
  <%= link_to new_subscription_path(current_user.id), class:"btn btn-success add" do %>
    <br><i class="fas fa-mobile-alt fa-8x"></i><br> Add a device
  <% end %>
  <button type="button" class="btn btn-success"><i class="fas fa-lock fa-8x"></i><br>Security Setting</button>
  <button type="button" class="btn btn-success"><i class="fas fa-cog fa-8x"></i><br>Setting</button>
</div>
